# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# keys
   "x-rapidapi-key": "913de05a45msh54fc6f8e3af3e38p1dee38jsn3ffd02829c6f",
    "x-rapidapi-host": "movies-tvshows-data-imdb.p.rapidapi.com"