
*{
  box-sizing: border-box;
  margin: 0;
}
*::-webkit-scrollbar{
  display: none;
}

.App {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow-x: scroll;
  overflow-y: none;
  justify-content: flex-start;
  
}


.nav{
  display: flex;
  width: 55%;
  align-self: flex-start;
  white-space: nowrap;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}

.nav a{
 margin: auto;
  font-size: 20px;
  color: white;
  text-decoration: none;
  width: 20%;
  padding: 2%;
  text-align: center;
  border-radius: 5px;
}
.nav a:visited{
  color: white;
  text-decoration: none;
}
.nav a:hover{
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}





.mainvid{
  margin-top: 5%;
  width: 60%;
 height: 900px;
  align-self: center;
  overflow: hidden;
}
.mainvid img{
  min-width:100%;
  margin-top: -120px;
}


.category-name{
  color: white;
  padding: 5px 2%;
}

.scrolling-div{
  display: flex;
  width: 98%;
  overflow-x:scroll;
}


.title{
  width: 220px;
  height: auto;
  padding: 1%;
}

.normalImg{
  width: 150px;
}
.largeImg{
  width: 200px;
}
.normalImg:hover, .largeImg:hover{
  cursor: pointer;
  padding: 2%;
}



.title-details{
  background: rgba(0, 0, 0, 0.768);
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 98%;
  margin: 1%;
 height: 1500px;
  padding: 2% 10%;
  overflow: hidden;
}
.title-btn{
position: absolute;
right: 15%;
top: 0;
padding: 1% 1.5%;
font-size: 20px;
font-weight: bolder;
border-radius: 50%;
background-color: black;
color: white;
}
.title-btn:hover{
  cursor: pointer;
}
.title-img-div{
  width: 900px;
  margin-top: -200px;
  overflow: hidden;
}
.titleImg{
  width: 100%;
  margin-top: -200px;
}

.title-name{
  position: absolute;
  color: #070096;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5,
  -2px 2px 0 #4074b5, -2px -2px 0 #4074b5,
   2px 0px 0 #4074b5, 0px 2px 0 #4074b5,
    -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
  font-size: 100px;
  top: 40%;
  left: 23%;
}

.title-details-div{
  display: flex;
  width: 72%;
  color: white;
  padding: 2%;
  background-color: black;
}
.title-h3{
  color: green;
padding-right: 8%;
font-size: 40px;
}
.title-details-div h3{
  font-size: 40px;
  width: 33%;
  display: flex;
  text-align: center;
  color: white;
}


.title-synop{
  font-size: 20px;
  padding: 2%;
  color: white;
  font-size: 40px;
  width: 70%;
  background-color: black;
}
