
*{
  box-sizing: border-box;
  margin: 0;
}

.App {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow-x: scroll;
  justify-content: flex-start;
}

.nav{
  display: flex;
  width: 55%;
  align-self: flex-start;
  white-space: nowrap;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}

.nav a{
 margin: auto;
  font-size: 20px;
  color: white;
  text-decoration: none;
  width: 20%;
  padding: 2%;
  text-align: center;
  border-radius: 5px;
}
.nav a:visited{
  color: white;
  text-decoration: none;
}
.nav a:hover{
  color: rgba(255, 255, 255, 0.7);

  cursor: pointer;
}





.mainvid{
  margin-top: 4%;
  width: 90%;
  height:98%;
  align-self: center;
}
.mainvid img{
  width: 100%;
}


.category-name{
  color: white;
  padding: 5px 2%;
}

.scrolling-div{
  display: flex;
  width: 98%;
  overflow-x:scroll;
}

.scrolling-div::-webkit-scrollbar{
  display: none;
}

.title{
  width: 200px;
  height: auto;
  padding: 1%;
}

.title img{
  width: 150px;
}
.title img:hover{
  cursor: pointer;
  padding: 2%;
}